<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Test mail</title>

  <style>
    table,
    td,
    th {
      border: 1px solid #ddd;
      text-align: left;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      padding: 15px;
    }
  </style>
</head>

<body class="">
  <div class="custom-modal">

    <div class="container">
      <div class="header">
        <p style="font-weight: bolder">{{ title }}</p>
        <div class="divider">-----------------------------------------</div>
      </div>
    </div>
  </div>
</body>

</html>
